BEGIN HERO -->
<div class="home-wrapper" id="top">
    <div class="content-home-wrapper text-center">
        <div class="header-center fade-in">
            <h1>Five Easy Payments</h1>
            <p>Your Venmo Credit Score</p>
            <%= button_to "Login with Venmo", '/authenticate', method: "get", class: "btn btn-default", style: "margin-top: 20px;" %>
        </div>
    </div>
    <div class="fullfilter"></div>
    <div><img alt="FiveEasyPayments is the coolest" class="home-image" src="/assets/scrooge-mcduck2.png" /></div>
<!-- END HERO -->

<!-- BEGIN CONTENT  -->
<div class="section-outter">
  <section id="about">
      <div class="section-wrapper">
          <!-- BEGIN VENMO SCORE -->
          <div class="section-inner">
            <div class="container">
              <div class="section-title">
                  <h2 class="title animatez" data-effect="fadeInDown">YOUR VENMO SCORE</h2>
                  <h4 class="title animatez" data-effect="fadeInUp"><span class="main-color">A-</span></h4>
              </div>
              <div id='' class="animatez" data-effect="fadeInUp"></div>
            </div>
          </div>
          <!-- END VENMO SCORE -->

          <div class="spacer big"></div>

          <!-- BEGIN SUNBURST -->
          <div class="section-inner">
            <div class="container">
              <div class="section-title">
                  <h2 class="title animatez" data-effect="fadeInDown">Transaction Breakdown</h2>
                  <h4 class="subtitle animatez" data-effect="fadeInUp"><span class="main-color">Click Around</span></h4>
              </div>
              <div id='chart' class="animatez" data-effect="fadeInUp"></div>
            </div>
          </div>
          <!-- END SUNBURST -->

          <!-- <div class="spacer big"></div> -->

          <!-- BEGIN LOGIN NOW -->
          <div class="spacer big"></div>
          <div class="section-fill bg-parallax bg-about" id="custom-bg-about">
              <div class="fill-wrapper">
                  <div class="section-title">
                      <h2 class="title white animatez" data-effect="fadeInDown">GET YOUR PERSONALIZED RESULTS</h2>
                      <h4 class="subtitle animatez" data-effect="fadeInUp">
                          <span class="main-color">...and prove your reliability</span>
                      </h4>
                      <div class="spacer medium"></div>
                      <%= button_to "LOGIN WITH VENMO", '/authenticate', method: "get", class: "btn btn-default animatez", data: { effect: "fadeIn" } %>
                  </div>
              </div>
          </div>
          <!-- END LOGIN NOW -->

    </div>
  </section>
</div>

<!-- END CONTENT -->

<!-- BEGIN MADE WITH LOVE -->
<div class="section-fill bg-parallax bg-about">
    <div style="padding: 50px">
        <div class="section-title">
          <h2>Made with <span class="">♥</span> 
            at <a href="http://flatironschool.com" target="_blank">Flatiron</a></h2>
        </div>
    </div>
</div>       
<!-- END MADE WITH LOVE