BEGIN SLIDER ONE -->
<div class="home-wrapper" id="top custom-bg-static">
    <div class="content-home-wrapper text-center">
        <div class="header-center fade-in">
            <h1>Five Easy Payments</h1>
            <p>Your Venmo Credit Score</p>
            <%= button_to "Login with Venmo", '/authenticate', method: "get", class: "btn btn-default", style: "margin-top: 20px;" %>
        </div>
    </div>
    <div class="fullfilter"></div>
    
    <!-- NEEDS ATTENTION -->
    <div class="home-image"></div>
    <!-- <div class="home-image" data-src="bg-static.jpg"></div> -->
    <!--  -->

<!-- BEGIN CONTENT SECTION -->
<div class="section-outter">
  <!-- BEGIN ABOUT  -->
  <section id="about">
      <div class="section-wrapper">
          <div class="section-title">
              <h2 class="title animatez" data-effect="fadeInDown">ABOUT</h2>
              <h4 class="subtitle animatez" data-effect="fadeInUp">We are an
                  <span class="main-color">awkward</span>&nbsp;winning random design</h4>
          </div>
          <hr class="title-break">
          <div class="section-inner">
              <div class="container">
                  <div class="row">
                      <div class="col-sm-4 mg-sm animatez" data-effect="fadeInUp">
                          <i class="fa fa-headphones fa-5x main-color"></i>
                          <h3>
                              <strong>Good Display</strong>
                          </h3>
                          <p>Sed blandit augue vitae augue scelerisque bibendum. Vivamus sit amet libero turpis, non venenatis urna. In blandit, odio convallis suscipit venenatis</p>
                      </div>
                      <div class="col-sm-4 mg-sm animatez delay one" data-effect="fadeInUp">
                          <i class="fa fa-hdd-o fa-5x main-color"></i>
                          <h3>
                              <strong>Better Storage</strong>
                          </h3>
                          <p>Sed blandit augue vitae augue scelerisque bibendum. Vivamus sit amet libero turpis, non venenatis urna. In blandit, odio convallis suscipit venenatis</p>
                      </div>
                      <div class="col-sm-4 mg-sm animatez delay two" data-effect="fadeInUp">
                          <i class="fa fa-trash-o fa-5x main-color"></i>
                          <h3>
                              <strong>Recycle Bin</strong>
                          </h3>
                          <p>Sed blandit augue vitae augue scelerisque bibendum. Vivamus sit amet libero turpis, non venenatis urna. In blandit, odio convallis suscipit venenatis</p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="spacer big"></div>
          <div class="section-fill bg-parallax bg-about" id="custom-bg-about">
          <!-- <div class="section-fill bg-parallax bg-about" style="background:url('images/bg-about.jpg');"> -->
              <div class="fill-wrapper">
                  <div class="section-title">
                      <h2 class="title white animatez" data-effect="fadeInDown">DESIGNED WITH SIMPLICITY</h2>
                      <h4 class="subtitle animatez" data-effect="fadeInUp">
                          <span class="main-color">Yet Packed Full Of Cutting-edge Technology</span>
                      </h4>
                      <div class="spacer medium"></div>
                      <a href="javascript:;" class="btn-outline white animatez" data-effect="fadeIn">LEARN MORE ABOUT RINDU&nbsp;&nbsp;&rarr;</a>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- END ABOUT -->

<h1>DUMMY DATA</h1>
<h1>Kana's Venmo Score: 433</h1>

<h2>Settled Score:</h2>
<p>Total amount settled: $152.57</p>
<p>Time taken to complete charges: 521.0 minutes</p>
<p>Response time: <strong>3.42</strong> minutes/dollar, over 3 transactions</p>

<h2>Pending Score:</h2>
<p>Total amount pending: $241.0</p>
<p>Time since charges originated: 80677.0 minutes</p>
<p>Response time: <strong>334.76</strong> minutes/dollar, over 1 transactions</p>

<h2>Uncharged Score:</h2>
<p>Total amount paid without being charged: $3.5</p>
<p>Time taken to complete charges: 0.0 minutes</p>
<p>Response time: <strong>0.0</strong> minutes/dollar, over 1 transactions</p>

</div>
<!-- END SLIDER ONE