<!-- BEGIN TEAM -->
            <section id="team">
                <div class="section-wrapper">
                    <div class="section-title">
                        <%= tag("h2", class: "title animatez", data: {effect: 'fadeInDown'} ) %> SOLID TEAM</h2>
                        <!-- <h2 class="title animatez" data-effect="fadeInDown">SOLID TEAM</h2> -->
                        <h4 class="subtitle animatez" data-effect="fadeInUp">Natural selection
                            <span class="main-color">is anything</span>&nbsp;but random</h4>
                    </div>
                    <hr class="title-break">
                    <div class="section-inner section-team">
                        <div class="container">
                            <div class="row">
                                <!-- PERSON -->
                                <div class="col-md-4 mg-sm">
                                    <div class="teams animatez" data-effect="fadeInUp">
                                        <div class="pict">
                                            <img src="images/people-1.jpg" alt="Team 1">
                                        </div>
                                        <div class="desc animatez" data-effect="fadeInUp">
                                            <h4>
                                                <strong>John Done</strong>
                                            </h4>
                                            <span>Executive Author</span>
                                            <p>Known tiled but sorry joy balls. Sudden manner indeed fat now feebly. Face do with in need of wife paid that be.</p>
                                            <div class="social">
                                                <%#= tag("a", href: "javascript:;", class: "animatez", data: {effect: 'fadeInLeft', tag("i", class: "fa fa-facebook")) %>
                                                <a href="javascript:;" class="animatez" data-effect="fadeInLeft"><i class="fa fa-facebook"></i></a>
                                                <a href="javascript:;" class="animatez" data-effect="fadeInRight"><i class="fa fa-twitter"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /PERSON -->
                                <!-- PERSON -->
                                <div class="col-md-4 mg-sm">
                                    <div class="teams animatez delay two" data-effect="fadeInUp">
                                        <div class="pict">
                                            <img src="images/people-2.jpg" alt="Team 1">
                                        </div>
                                        <div class="desc animatez" data-effect="fadeInUp">
                                            <h4>
                                                <strong>John Done</strong>
                                            </h4>
                                            <span>Executive Author</span>
                                            <p>Known tiled but sorry joy balls. Sudden manner indeed fat now feebly. Face do with in need of wife paid that be.</p>
                                            <div class="social">
                                                <a href="javascript:;" class="animatez" data-effect="fadeInLeft"><i class="fa fa-facebook"></i></a>
                                                <a href="javascript:;" class="animatez" data-effect="fadeInRight"><i class="fa fa-twitter"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /PERSON -->
                                <!-- PERSON -->
                                <div class="col-md-4 mg-sm">
                                    <div class="teams animatez delay three" data-effect="fadeInUp">
                                        <div class="pict">
                                            <img src="images/people-3.jpg" alt="Team 1">
                                        </div>
                                        <div class="desc animatez" data-effect="fadeInUp">
                                            <h4>
                                                <strong>John Done</strong>
                                            </h4>
                                            <span>Executive Author</span>
                                            <p>Known tiled but sorry joy balls. Sudden manner indeed fat now feebly. Face do with in need of wife paid that be.</p>
                                            <div class="social">
                                                <a href="javascript:;" class="animatez" data-effect="fadeInLeft"><i class="fa fa-facebook"></i></a>
                                                <a href="javascript:;" class="animatez" data-effect="fadeInRight"><i class="fa fa-twitter"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /PERSON -->
                            </div>
                        </div>
                    </div>
                    <div class="spacer big"></div>
                    
                    <!-- BEGIN TWITTER-SPACER -->
                    <div class="spacer big"></div>
                    <div class="section-fill bg-parallax bg-about" style="background:url('images/bg-about.jpg');">
                        <div class="fill-wrapper">
                            <div class="section-title">
                                <h2 class="title white animatez" data-effect="fadeInDown">DESIGNED WITH SIMPLICITY</h2>
                                <h4 class="subtitle animatez" data-effect="fadeInUp">
                                    <span class="main-color">Yet Packed Full Of Cutting-edge Technology</span>
                                </h4>
                                <div class="spacer medium"></div>
                                <a href="javascript:;" class="btn-outline white animatez" data-effect="fadeIn">LEARN MORE ABOUT RINDU&nbsp;&nbsp;&rarr;</a>
                            </div>
                        </div>
                    </div>
                    <!-- END SPACER -->
                    
                </div>
            </section>
            <!-- END TEAM -->