<div class="section-outter">
<!-- BEGIN ABOUT  -->
<section id="about">
    <div class="section-wrapper">
        <div class="section-title">
            <h2 class="title animatez" data-effect="fadeInDown">ABOUT</h2>
            <h4 class="subtitle animatez" data-effect="fadeInUp">How is your<span class="main-color"> score </span>calculated?</h4>
        </div>
        <hr class="title-break">
        <div class="section-inner">
            <div class="container">
                <div class="row">
                    <div class="col-sm-4 mg-sm animatez" data-effect="fadeInUp">
                        <i class="fa fa-headphones fa-5x main-color"></i>
                        <h3>
                            <strong>Speed of Payment</strong>
                        </h3>
                        <p>A large portion of your venmo score is based on how fast you pay back your friends. The faster you pay back your charges, the higher your score will grow.</p>
                    </div>
                    <div class="col-sm-4 mg-sm animatez delay one" data-effect="fadeInUp">
                        <i class="fa fa-hdd-o fa-5x main-color"></i>
                        <h3>
                            <strong>Volume of Payment</strong>
                        </h3>
                        <p>The more payments you make through venmo the higher your score will be. Especially payments you made without having to be charged.</p>
                    </div>
                    <div class="col-sm-4 mg-sm animatez delay two" data-effect="fadeInUp">
                        <i class="fa fa-trash-o fa-5x main-color"></i>
                        <h3>
                            <strong>Outstanding Balance</strong>
                        </h3>
                        <p>The amount of money you owe at any given time can also lower your score. If you have more pending payments you will have a lower score.</p>
                    </div>
                </div>
            </div>
        </div> 
        <div class="spacer big"></div>
    </div>
  </section>
</div>
<!-- END ABOUT -->

<!-- BEGIN TEAM -->
<section id="team">
    <div class="section-wrapper" id="custom-bg-about">
        <div class="section-title animated fadeInDown">
            <%= tag("h2", class: "title white animatez", data: {effect: 'fadeInDown'} ) %> MEET THE TEAM</h2>
            <h4 class="subtitle animatez white" data-effect="fadeInUp"><span class="main-color">Trustworthy.</span></h4>
        </div>
        <hr class="title-break">
        <div class="section-inner section-team">
            <div class="container">
                <div class="row">
                    <!-- BEN -->
                    <div class="col-md-4 mg-sm">
                        <div class="teams animatez" data-effect="fadeInUp">
                            <div class="pict">
                                <%= image_tag("ben-gross.jpg") %>
                            </div>
                            <div class="desc animatez" data-effect="fadeInUp">
                                <h4>
                                    <strong>Ben Gross</strong>
                                </h4>
                                <p>Venmo Score: B-</p>
                                <div class="social">
                                    <a href="http://github.com/benjagross" target="_blank" class="animatez" data-effect="fadeInLeft"><i class="fa fa-github"></i></a>
                                    <a href="http://twitter.com/benjagross" target="_blank" class="animatez" data-effect="fadeInRight"><i class="fa fa-twitter"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /BEN -->
                    <!-- KANA -->
                    <div class="col-md-4 mg-sm">
                        <div class="teams animatez delay two" data-effect="fadeInUp">
                            <div class="pict">
                                <%= image_tag("kana-abe.jpg") %>
                            </div>
                            <div class="desc animatez" data-effect="fadeInUp">
                                <h4>
                                    <strong>Kana Abe</strong>
                                </h4>
                                <p>Venmo Score: A-</p>
                                <div class="social">
                                    <a href="http://github.com/kanaabe" target="_blank" class="animatez" data-effect="fadeInLeft"><i class="fa fa-github"></i></a>
                                    <a href="http://twitter.com/kana_abe" target="_blank" class="animatez" data-effect="fadeInRight"><i class="fa fa-twitter"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /KANA -->
                    <!-- NATE -->
                    <div class="col-md-4 mg-sm">
                        <div class="teams animatez delay three" data-effect="fadeInUp">
                            <div class="pict">
                                <%= image_tag("nate-kratchman.jpg") %>
                            </div>
                            <div class="desc animatez" data-effect="fadeInUp">
                                <h4>
                                    <strong>Nate Kratchman</strong>
                                </h4>
                                <p>Venmo Score: A</p>
                                <div class="social">
                                    <a href="http://github.com/natekratchman" target="_blank" class="animatez" data-effect="fadeInLeft"><i class="fa fa-github"></i></a>
                                    <a href="http://twitter.com/natekratchman" target="_blank" class="animatez" data-effect="fadeInRight"><i class="fa fa-twitter"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /NATE -->
                </div>
            </div>
        </div>
        <div class="spacer big"></div>
    </div>
</section>
<!-- END TEAM -->

<!-- BEGIN MADE WITH LOVE -->
<div class="section-fill bg-parallax bg-about">
    <div style="padding: 50px">
        <div class="section-title">
          <h2>Made with <span class="">♥</span> 
            at <a href="http://flatironschool.com" target="_blank">Flatiron</a></h2>
        </div>
    </div>
</div>       
<!-- END MADE WITH LOVE -->